# editorconfig.org
root = true

[*]
indent_style = tab
indent_size = tab
end_of_line = crlf
charset = utf-8-bom
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

[*.txt]
indent_style = unset
indent_size = unset
end_of_line = unset
trim_trailing_whitespace = unset
insert_final_newline = unset

[*.{html,css}]
indent_style = space
indent_size = 2
charset = utf-8-bom
